<footer>
    <div id="box-footer">
        <div id="div-help">
            <h4>¿NECESITAS AYUDA? <a href="#">ESCRIBÍNOS</a></h4>
        </div>
        <div id="div-networks">
            <h4>REDES SOCIALES</h4>
            <a href="http://www.facebook.com"><i class="fab fa-facebook-square"></i></a>
            <a href="http://www.instagram.com"><i class="fab fa-instagram"></i></a>
            <a href="http://www.pinterest.com"><i class="fab fa-pinterest-square"></i></a>
        </div>
        <div id="div-contact">
            <h4>CONTACTÁNOS</h4>
            <p>011-3245-2344</p>
            <p><a href="mailto:#">macrameRose@gmail.com</a></p>
        </div>
    </div>
    <div id="footer-info">
        <ul>
            <li><a href="#">PREGUNTAS FRECUENTES</a></li>
            <li><a href="#">CÓMO COMPRAR</a></li>
            <li><a href="#">TÉRMINOS Y CONDICIONES</a></li>
        </ul>
    </div>
    <div id="icon-whatsap">
        <a href="http://www.whatsapp.com"><i class="fab fa-whatsapp"></i></a>
    </div>
    <div id="footer-copyright">
        <p>Copyright ©2021 Macramé Rose.</p>
    </div>
</footer>