<header>
    <div class="div-header-top-create">
        <a href="/"><img src="img/Logo/logo.jpg" alt="logo"></a>
        <ul class="ul-header-create">
            <li><a href="#" title="Administrador"><i class="fas fa-store"></i></a></li>
            <li><a href="#" title="Ayuda"><i class="fas fa-question-circle"></i></i></a></li>
        </ul>
    </div>
</header>