<header id="headerSection">
    <div id="header-mobile">
        <div id="burguer-menu">
            <i class="fas fa-bars"></i>
            <p>INICIO</p>
        </div>
        <div id="header-search"><i class="fas fa-search"></i></div>
    </div>
    <div id="top-header" class="hidden">
        <div id="div-search">
            <form action="/search" method="GET" class="form-search-header">
                <input type="text" name="keywords" placeholder="Buscar" class="area-search">
                <button type="submit" class="button-search"><i class="fas fa-search"></i>
                </button>
            </form>
        </div>
        <div id="login-register">
            <% if (locals.isLogged) { %>
                <ul>
                    <li class="border-right hover-color">
                        <a href="/user/profile" class="profile-a">
                            <img src="/img/avatars/<%= locals.userLogged.avatar %>" class="user-avatar-header" alt="avatar">
                        <strong>HOLA <%= locals.userLogged.userName.toUpperCase() %>!</strong></a>
                    </li>
                    <li class="hover-color logout-li"><a href="/user/logout">CERRAR SESIÓN</a></li>
                </ul>
            <% } else { %>
                <ul>
                    <li class="border-right hover-color"><i class="fas fa-user"></i><a href="/user/register"><strong> CREAR CUENTA</strong></a></li>
                    <li class="hover-color"><a href="/user/login">INICIAR SESIÓN</a></li>
                </ul>
            <% } %> 
        </div>
    </div>
    <div id="bottom-header">
        <div class="div-logo">
            <a href="/"><img src="/img/logo.jpg" alt="logo" id="logo"></a>
        </div>
        <div class="div-nav-bar">
            <ul>
                <li class="border-bottom" ><a href="/">INICIO</a></li>
                <li class="border-bottom" ><a href="/products">PRODUCTOS</a></li>
                <li class="hidden border-bottom"><a href="#"></i>ENVÍOS</a></li>
                <li class="hidden border-bottom"><a href="#">CONTACTO</a></li>
                <li class="hidden border-bottom"><a href="#"></i>ABOUT US</a></li>
                <li class="cart"><a href="/cart"><i class="fas fa-shopping-cart"></i>CARRITO</a></li>
            </ul>
        </div>
        <div class="div-cart hidden">
            <a href="/cart"><img src="/img/icon-shp.png" alt="shop-icon"></a>
        </div>
    </div>
</header>