<section id="box-info">
    <div class="div-info">
        <i class="fas fa-truck"></i>
        <h4>ENTREGA A TODO EL PAÍS</h4>
        <p>Llegamos a todas las ciudades! Accedé a ENVIOS SIN CARGO. También enviamos tu regalo a la dirección que Vos nos digas!</p>
    </div>
    <div class="div-info">
        <i class="fas fa-credit-card"></i>
        <h4>CUOTAS SIN INTERÉS</h4>
        <p>Hasta 18 Cuotas sin interés con todo pago. Compra hoy y comenza a pagar en tres meses!</p>
    </div>
    <div class="div-info">
        <i class="fas fa-user-shield"></i>
        <h4>SITIO SEGURO</h4>
        <p>Tus compras las abonas en forma segura mediante Transferencia Bancaria, TODO PAGO o MERCADO PAGO. </p>
    </div>
</section>