<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head',{title: 'Carrito de compras - Macramé Rose'}) %>
<body>
    <%- include('partials/header') %>
    <main id="main-cart">
        <div id="div-titles-cart">
            <h3>CARRITO DE COMPRAS</h3>
            <div class="ul-titles-cart hidden-titles-cart">
                <ul>
                    <li><a href="#">Información de envío</a></li>
                    <li><a href="#">Métodos de pago</a></li>
                    <li><a href="#">Revisión del pedido</a></li>
                </ul>
            </div>
        </div>
        <div id="div-cart">
            <section id="section-cart">
                <div class="product-subtotal-cart">
                    <h4>PRODUCTO</h4>
                    <h4 class="hidden-subtotal-cart">SUBTOTAL</h4>
                </div>
                <div>
                    <article class="article-product-cart">
                        <div class="div-img-cart"><img src="/img/products/almohadon3.jpg" class="img-cart" alt="almohadon3">
                        </div>
                        <div class="div-cart-description">
                            <h5>ALMOHADON DECORATIVO MACRAMÉ NEGRO</h5>
                            <p class="price-cart">$2.420</p>
                            <p class="discount-cart">10% off</p>
                            <form action="#" method="GET" class="form-cart">
                                <label>Cantidad: </label>
                                <input type="number" name="amount">
                            </form>
                        </div>
                        <div class="div-cart-subtotal hidden-subtotal-cart">
                            <p>$2.420</p>
                        </div>
                    </article>
                    <article class="article-product-cart">
                        <div class="div-img-cart">
                            <img src="/img/products/adorno2.jpg" class="img-cart" alt="adorno2">
                        </div>
                        <div class="div-cart-description">
                            <h5>COLGANTE DE PLUMAS BOHO-CHIC</h5>
                            <p class="price-cart">$2.570</p>
                            <p class="discount-cart">10% off</p>
                            <form action="#" method="GET" class="form-cart">
                                <label>Cantidad: </label>
                                <input type="number" name="amount">
                            </form>
                        </div>
                        <div class="div-cart-subtotal hidden-subtotal-cart">
                            <p>$2.570</p>
                        </div>
                    </article>
                </div>
            </section>
            <section id="section-cart-total">
                <div class="div-h4-totalgeneral-cart">
                    <h4>TOTAL GENERAL</h4>
                </div>
                <div class="div-totalgeneral-cart">
                    <div class="totalgeneral-subtotal-cart">
                        <p>Subtotal(sin envío)</p>
                        <p>$3.400</p>
                    </div>
                    <div class="totalgeneral-shipping-cart">
                        <p>Envío</p>
                        <p>A calcular</p>
                    </div>
                    <div class="div-total-cart">
                        <p>TOTAL</p>
                        <p>$3.900</p>
                    </div>
                    <div class="div-discount-cart">
                        <a href="#">¿Tienes un cupon de descuento?</a>
                    </div>
                    <div>
                        <form action="/" method="GET" class="totalgeneral-button-cart">
                            <button type="submit" class="button-design-totalgeneral-cart">INICIAR COMPRA</button>
                        </form>
                    </div>
                    <div class="div-all-products-cart">
                        <a href="/products">Ver mas productos</a>
                    </div>
                </div>
            </section>
        </div>
        <section id="section-cart-add">
            <h3>AGREGAR AL CARRITO</h3>
            <div class="box-products-add">
                <article class="article-product-add">
                    <img src="/img/products/adorno3.jpg" alt="adorno3" class="img-cart">
                    <div class="description-product-add">
                        <i class="fas fa-truck"></i>
                        <h4 class="name-product-add">MACRAMÉ PARED DECORACION BOHO COLGANDO PLUMAS</h4>
                        <p class="price-add hidden-product">$2.570</p>
                        <p class="discount-add hidden-product">10% off</p>
                    </div>
                    <div id="div-button-add">
                        <form action="/" method="GET" class="button-add">
                            <button type="submit" class="button-design-add">AGREGAR</button>
                        </form>
                    </div>
                </article>
                <article class="article-product-add">
                    <img src="/img/products/almohadon1.jpg" alt="almohadon1" class="img-cart">
                    <div class="description-product-add">
                        <i class="fas fa-truck"></i>
                        <h4 class="name-product-add">ALMOHADON DECORATIVO MACRAMÉ CRUDO. ESTILO BOHO</h4>
                        <p class="price-add hidden-product">$2.999</p>
                        <p class="discount-add hidden-product">15% off</p>
                        
                    </div>
                    <div id="div-button-add">
                        <form action="/" method="GET" class="button-add">
                            <button type="submit" class="button-design-add">AGREGAR</button>
                        </form>
                    </div>
                </article>
                <article class="article-product-add">
                    <img src="/img/products/adorno4.jpg" alt="adorno4" class="img-cart">
                    <div class="description-product-add">
                        <i class="fas fa-truck"></i>
                        <h4 class="name-product-add">MACRAMÉ GRANDE- COLGANTE DE PARED PLUMAS</h4>
                        <p class="price-add hidden-product">$3840</p>
                        <p class="discount-add hidden-product">15% off</p>
                    </div>
                    <div id="div-button-add">
                        <form action="/" method="GET" class="button-add">
                            <button type="submit" class="button-design-add">AGREGAR</button>
                        </form>
                    </div>
                </article>
                <article class="article-product-add">
                    <img src="/img/products/almohadon4.jpg" alt="almohadon4" class="img-cart">
                    <div class="description-product-add">
                        <i class="fas fa-truck"></i>
                        <h4 class="name-product-add">ALMOHADON RÚSTICO- BOHEMIO CHIC</h4>
                        <p class="price-add hidden-product">$1.999</p>
                        <p class="discount-add hidden-product">10% off</p>
                    </div>
                    <div id="div-button-add">
                        <form action="/" method="GET" class="button-add">
                            <button type="submit" class="button-design-add">AGREGAR</button>
                        </form>
                    </div>
                </article>
            </section>
            </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>