<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head',{title: 'Formulario de creación'}) %>
<body>
    <%- include('partials/headerCreate') %>
    <main id="main-productCreate">
        <section id="section-title-productCreate">
            <h2>AÑADIR UN PRODUCTO</h2>
        </section>
        <section id="section-form-productCreate">
            <form action="/products" method="POST" class="form-productCreate" enctype="multipart/form-data">
                <div class="div-informationproduct">
                    <div id="div-name-productCreate">
                        <label>Nombre del producto:</label>
                        <input type="text" name="name" id="name-newproduct" placeholder="Nombre del producto">
                    </div>
                    <h4>Fotos *</h4>
                    <div id="div-photo-productCreate">
                        <label>Añadir una foto:</label>
                        <input type="file" name="image" class="input-photo-product">
                    </div>
                    <h4>Información del Producto</h4>
                    <div id="div-description-productCreate">
                        <label>Descripcion:</label>
                        <textarea name="description" class="textarea-description"></textarea>
                    </div>
                </div>
                <div class="div-features">
                    <div id="div-categories-productCreate">
                        <label>Seleccione Categoría:</label>
                        <input type="radio" name="category" value="portaMacetas" class="input-categories"> PORTA MACETAS<label></label>
                        <input type="radio" name="category" value="almohadones" class="input-categories"> ALMOHADONES <label></label>
                        <input type="radio" name="category" value="espejos" class="input-categories"> ESPEJOS<label></label>
                        <input type="radio" name="category" value="cortinas" class="input-categories"> CORTINAS<label></label>
                        <input type="radio" name="category" value="adornor" class="input-categories"> ADORNOS<label></label>
                        <input type="radio" name="category" value="bolsosCarteras" class="input-categories"> BOLSOS Y CARTERAS<label></label>
                        <input type="radio" name="category" value="Accesorios" class="input-categories"> ACCESORIOS<label></label>
                    </div>
                    <div id="div-add-category-productCreate">
                        <label>Agregar Catergoria:(Opcional)</label>
                        <input type="text" name="newcategory" class="input-newcategory">
                    </div>
                    <!-- variantes -->
                    <h4 id="h4-variants">Variantes</h4>
                    <div id="div-variants-productCreate">
                        <div id="color-variant">
                            <label>Color:</label>
                            <select name="color">
                                <option value="CRUDO">CRUDO</option>
                                <option value="NEGRO">NEGRO</option>
                                <option value="VERDE">VERDE</option>
                                <option value="BEIGE">BEIGE</option>
                                <option value="CHOCOLATE">CHOCOLATE</option>
                                <option value="ROSA">ROSA</option>
                                <option value="GRIS">GRIS</option>
                                <option value="ROJO">ROJO</option>
                            </select>
                        </div>
                        <div id="size-variant">
                            <label>Tamaño:</label>
                            <select name="size">
                                <option value="PEQUEÑO">PEQUEÑO</option>
                                <option value="MEDIANO">MEDIANO</option>
                                <option value="GRANDE">GRANDE</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="div-inventory">
                    <h4 id="h4-price">Inventario y Precio</h4>
                <div id="div-price-productCreate">
                    <div id="price-productCreate">
                        <label>Precio:</label>
                        <input type="text" name="price">
                    </div>
                    <div id="price-productCreate">
                        <label>Descuento:</label>
                        <input type="text" name="discount">
                    </div>
                    <div id="stock-productCreate">
                        <label>Stock:</label>
                        <input type="number" name="stock">
                    </div>
                </div>
                </div>
                <div class="div-buttons">
                    <div id="buttons-productsCreate">
                        <button type="reset" class="design-button-productCreate">BORRAR</button>
                        <button type="submit" class="design-button-productCreate">CONFIRMAR</button>
                        <a href="/products" class="design-button-productCreate">CANCELAR</a>
                    </div>
                </div>
            </form>
        </section>
    </main>
    <%- include('partials/footerUsers') %>
</body>
</html>