<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div id="header-mobile">
            <div id="burguer-menu">
                <i class="fas fa-bars"></i>
                <p>INICIO</p>
            </div>
            <div id="header-search"><i class="fas fa-search"></i></div>
        </div>
        <div id="top-header" class="hidden">
            <div id="div-search">
                <form action="/" method="GET">
                    <input type="text" name="search" placeholder="Buscar" class="area-search">
                    <button type="submit" class="button-search"><i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
            <div id="login-register">
                <ul>
                    <li class="border-right"><i class="fas fa-user"></i><a href="/register"><strong> CREAR CUENTA</strong></a></li>
                    <li><a href="/login">INICIAR SESIÓN</a></li>
                </ul>
            </div>
        </div>
        <div id="bottom-header">
            <ul id="ul-header">
                <li id="header-logo">
                    <a href="/"><img src="img/Logo/logo.jpg" alt="logo" id="logo"></a>
                </li>
                <li id="nav-header">
                    <nav id="navbar">
                        <ul>
                            <li class="border-bottom" ><a href="/">INICIO</a></li>
                            <li class="border-bottom" ><a href="#">PRODUCTOS</a></li>
                            <li class="hidden border-bottom"><a href="#">ENVÍOS</a></li>
                            <li class="hidden border-bottom"><a href="#">CONTACTO</a></li>
                            <li class="cart"><a href="/productCart"><i class="fas fa-shopping-cart"></i>CARRITO</a></li>
                        </ul>
                    </nav>
                </li>
                <li id="shop-cart" class="hidden">
                    <a href="/productCart"><img src="/img/iconos/icon-cart.png" alt="carrito"></a>
                </li>
            </ul>
        </div>
    </header>
    <section id="banner">
        <img src="img/banner/banner-almohadones-2.jpg" alt="banner-almohadones">
    </section>
    <main id="main">
        <section id="categories">
            <h3>PRINCIPALES CATEGORÍAS</h3>
            <div id="box-categories">
                <article class="product-category">
                    <img src="img/portaMacetas/porta-maceta-1.jpg" alt="" class="img-width">
                    <a href="#"><h4>PORTA MACETAS</h4></a>
                </article>
                <article class="product-category">
                    <img src="img/almohadones/almohadon-2.jpg" alt="" class="img-width">
                    <a href=""><h4>ALMOHADONES</h4></a>
                </article>
                <article class="product-category">
                    <img src="img/espejo/espejo-2.jpg" alt="" class="img-width">
                    <a href=""><h4>ESPEJOS</h4></a>
                </article>
                <article class="product-category">
                    <img src="img/cortinas/cortina-4.jpg" alt="" class="img-width">
                    <a href=""><h4>CORTINAS</h4></a>
                </article>
                <article class="product-category">
                    <img src="img/adornos/adorno-11.jpg" alt="hojas" class="img-width">
                    <a href=""><h4>ADORNOS</h4></a>
                </article>
                <article class="product-category">
                    <img src="img/bolsos/bolso-2.jpg" alt="" class="img-width">
                    <a href=""><h4>BOLSOS Y CARTERAS</h4></a>
                </article>
                <article class="product-category">
                    <img src="img/accesorios/accesorios-1.jpg" alt="aros" class="img-width">
                    <a href=""><h4>ACCESORIOS</h4></a>
                </article>
            </div>
        </section>
        <section id="featured-products">
            <h3>PRODUCTOS DESTACADOS</h3>
            <div id="box-products">
                <article class="article-product">
                    <img src="img/portaMacetas/porta-maceta-4.jpg" alt="" class="img-width">
                    <div id="description-product">
                        <i class="fas fa-truck"></i>
                        <h4 class="name-product">PORTA MACETA TEJIDO MACRAMÉ CRUDO</h4>
                        <p class="price hidden-product">$6.770</p>
                        <p class="discount hidden-product">40% off</p>
                    </div>
                </article>
                <article class="article-product">
                    <img src="img/almohadones/almohadon-1.jpg" alt="" class="img-width">
                    <div id="description-product">
                        <i class="fas fa-truck"></i>
                        <h4 class="name-product">ALMOHADON DECORATIVO MACRAMÉ NEGRO</h4>
                        <p class="price hidden-product">$1.280</p>
                        <p class="discount hidden-product">10% off</p>
                    </div>
                </article>
                <article class="article-product">
                    <img src="img/accesorios/collar-1.jpg" alt="" class="img-width">
                    <div id="description-product">
                        <i class="fas fa-truck"></i>
                        <h4 class="name-product">COLLAR MACRAMÉ NEGRO</h4>
                        <p class="price hidden-product">$4.570</p>
                        <p class="discount hidden-product">20% off</p>
                    </div>
                </article>
                <article class="article-product">
                    <img src="img/espejo/espejo-4.jpg" alt="" class="img-width">
                    <div id="description-product">
                        <i class="fas fa-truck"></i>
                        <h4 class="name-product">ESPEJO CIRCULO MACRAMÉ</h4>
                        <p class="price hidden-product">$6.670</p>
                        <p class="discount hidden-product">30% off</p>
                    </div>
                </article>
                <article class="article-product">
                    <img src="img/cortinas/cortina-3.jpg" alt="" class="img-width">
                    <div id="description-product">
                        <i class="fas fa-truck"></i>
                        <h4 class="name-product">CORTINA DECO MACRAMÉ TRENZADO</h4>
                        <p class="price hidden-product">$9.870</p>
                        <p class="discount hidden-product">40% off</p>
                    </div>
                </article>
                <article class="article-product">
                    <img src="img/adornos/adorno-2.jpg" alt="" class="img-width">
                    <div id="description-product">
                        <i class="fas fa-truck"></i>
                        <h4 class="name-product">MACRAMÉ PARED DECORACION BUHO COLGANDO</h4>
                        <p class="price hidden-product">$2.770</p>
                        <p class="discount hidden-product">20% off</p>
                    </div>
                </article>
                <article class="article-product">
                    <img src="img/bolsos/bolso-1.jpg" alt="" class="img-width">
                    <div id="description-product">
                        <i class="fas fa-truck"></i>
                        <h4 class="name-product">MACRAMÉ BANDOLERA FLECOS</h4>
                        <p class="price hidden-product">$6.770</p>
                        <p class="discount hidden-product">40% off</p>
                    </div>
                </article>
                <article class="article-product">
                    <img src="img/adornos/adorno-3.jpg" alt="" class="img-width">
                    <div id="description-product">
                        <i class="fas fa-truck"></i>
                        <h4 class="name-product">MACRAMÉ COLGANTE DE PARED DECO PLUMAS</h4>
                        <p class="price hidden-product">$2.120</p>
                        <p class="discount hidden-product">15% off</p>
                    </div>
                </article>
            </div>
            <div id="button-product">
                <form action="/" method="GET">
                    <button type="submit" class="design-button-product">VER TODOS LOS PRODUCTOS</button>
                </form>
            </div>
        </section>
        <hr>
        <section id="box-info">
            <div class="div-info">
                <i class="fas fa-truck"></i>
                <h4>ENTREGA A TODO EL PAÍS</h4>
                <p>Llegamos a todas las ciudades! Accedé a ENVIOS SIN CARGO. También enviamos tu regalo a la dirección que Vos nos digas!</p>
            </div>
            <div class="div-info">
                <i class="fas fa-credit-card"></i>
                <h4>CUOTAS SIN INTERÉS</h4>
                <p>Hasta 18 Cuotas sin interés con todo pago. Compra hoy y comenza a pagar en tres meses!</p>
            </div>
            <div class="div-info">
                <i class="fas fa-user-shield"></i>
                <h4>SITIO SEGURO</h4>
                <p>Tus compras las abonas en forma segura mediante Transferencia Bancaria, TODO PAGO o MERCADO PAGO. </p>
            </div>
        </section>
    </main>
    <footer>
        <div id="box-footer">
            <div id="div-help">
                <h4>¿NECESITAS AYUDA? <a href="#">ESCRIBÍNOS</a></h4>
            </div>
            <div id="div-networks">
                <h4>REDES SOCIALES</h4>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-pinterest-square"></i></a>
            </div>
            <div id="div-contact">
                <h4>CONTACTÁNOS</h4>
                <p>011-3245-2344</p>
                <p><a href="mailto:#">macrameRose@gmail.com</a></p>
            </div>
        </div>
        <div id="footer-info">
            <ul>
                <li><a href="#">PREGUNTAS FRECUENTES</a></li>
                <li><a href="#">CÓMO COMPRAR</a></li>
                <li><a href="#">TÉRMINOS Y CONDICIONES</a></li>
            </ul>
        </div>
        <div id="icon-whatsap">
            <a href="http://www.whatsapp.com"><i class="fab fa-whatsapp"></i></a>
        </div>
        <div id="footer-copyright">
            <p>Copyright ©2021 Macramé Rose.</p>
        </div>
    </footer>
</body>
</html>