/*   Hoja de Estilos */

/*  GENERAL */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: block;
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
    font-size: 12px;
    color: #87868a;
}

.hidden {display: none;}
.hidden-product{display: none;}
.hidden-titles-cart{display: none;}
.hidden-subtotal-cart{display: none;}
.hidden-filter-productsList{display: none;}

#banner img{
    width: 100%;
}
.img-width{width: 100%;display: block;}

/*  HEADER   */

.user-avatar-header{border-radius: 50%;width: 25px;height: 25px;}
.profile-a{display: flex;align-items: center;}
.profile-a strong{margin-left: 3px;}
.logout-li{display: flex;align-items: center;}


header{display: block; width: 100%;box-shadow: 0px 0px 5px 0px rgba(204, 201, 201, 0.4);}
header a{text-decoration: none;font-weight: 300;color: #a1a0a5;}

#header-mobile{display: flex; flex-wrap: wrap;flex-direction: row;justify-content: space-between;align-items: center; background-color: #fdebd2;color: #87868a;font-size: 16px;padding: 15px 10px;}
#burguer-menu {display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;}
#burguer-menu p{margin-left: 5px;}

#header-logo{text-align: center;padding: 10px;}
#logo{width: 200px;}

.div-logo{text-align: center;padding: 8px 0;}
.div-nav-bar ul{display: flex;flex-wrap: wrap;justify-content: space-around;align-items: center;list-style: none;}
.div-nav-bar ul li{width: 20%;flex-grow: 1;text-align: center;padding: 5px 0;}


li.border-bottom:hover{border-bottom: 1px solid #dc042c;}
li.hover-color:hover a{font-weight: bold;}

#navbar ul{display: flex;flex-wrap: wrap; flex-direction: row;align-items: center;justify-content: space-around;list-style: none;}
#navbar ul li{padding: 0 5px;flex-grow: 1;text-align: center;margin: 5px;}
.border-right{border-right: 1px solid #b3b2b6;}
#nav-header{text-align: right;}
#nav-header ul{list-style: none;display: flex;flex-wrap: wrap;flex-direction: row;justify-content: space-around;}
#nav-header ul li {width: 30%;text-align: center;flex-grow: 1;}

/*   MAIN   */


/* PROFILE-MAIN */
.main-profile{margin: 40px 0}
.section-profile{margin: 30px 20px;padding: 10px;}
.greet-user{padding: 5px;border-bottom: 1px solid #dc042c;margin: 10px 0;}
.div-img-profile{width: 100%;}
.div-img-profile img{width: 100%;display: block;}
.div-info-user{padding: 10px;margin: 12px 0;width: 100%;background-color: #407907;color: #fff;}
 
#main{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.section-search{margin: 30px 10px;}
.without-results{margin: 25px;padding: 30px;}

h3{color: #87868a;margin: 10px;padding: 5px;font-weight: 400;font-size: 16px;text-align: center;border-bottom: 1px solid #dc042c;}
.product-category{padding: 0;margin: 15px;position: relative;}
.product-category h4{
    color: rgb(102, 100, 100);
    background-color: rgba(235, 227, 227, 0.6);
    text-align: center;
    font-size: 25px;
    font-family:'Rajdhani', sans-serif;
    font-weight: 500;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}
.article-product{margin: 20px 0px;border-radius: 4px;}
.article-product a{text-decoration: none;}
#description-product{display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;padding: 10px;position: relative;border-top: 1px solid #4f9509;}
.price{font-size: 18px;color: #87868a;flex-grow: 1;text-align: center;}
.discount{font-size: 16px;text-align: center;color: #dc042c;flex-grow: 1;}
.name-product{width: 100%;font-weight: 300;color: #87868a;font-size: 18px;text-align: center;padding: 5px 0;}
#description-product i{
    display: block;
    font-size: 20px;
    padding: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0px;
    top: -15px;
    color: #4f9509;
}

#button-product{width: 100%;text-align: center;margin: 10px;}
.design-button-product{padding: 10px;border: none;background-color: #9e4454;color: #fff;width: 70%;font-weight: 300;}
.design-button-product:hover{background-color: #dc042c;}

#productos-destacados{padding-bottom: 20px;}


.div-allproducts{margin: 25px 0px;text-align: center;}
.div-allproducts a{text-decoration: none;padding: 10px 15px;font-size: 16px;color: #fff;background-color: #9e4454;font-weight: 300;}
.div-allproducts a:hover{background-color: #dc042c;}

#box-info{width: 100%;padding-top: 15px;padding-bottom: 10px;font-size: 16px;}
.div-info{display: block;text-align: center;padding: 15px;padding: 15px;color:#87868a}
.div-info h4{font-size: 16px;padding: 5px;}
.div-info i{font-size: 16px;color: #dc042c;}
.div-info i:hover{color: #9e4454;}

/*   FOOTER   */

#box-footer{background-color: #fdebd2;display: block;text-align: center;color: #87868a;font-size: 16px;margin-bottom: 0;}
#box-footer a, #footer-info a{text-decoration: none;color: #87868a;}

#footer-info{background-color: #fdebd2;display: block;text-align: center;padding: 20px;}
#footer-info ul{display: flex;align-items: center;list-style: none;justify-content: space-around;}
#footer-copyright{background-color: #9e4454;color: #fff;padding-top: 5px;padding-left: 5px;font-weight: lighter}
#div-help{padding: 10px;}
#div-networks{padding: 10px;}
#div-networks i{font-size: 30px;padding: 5px;}
#div-contact{padding: 10px;}
#div-contact p{padding: 5px;}

#icon-whatsap i{width: 50px;height: 50px;text-align: center; font-size: 35px;padding: 8px;background-color: rgba(77,194,71,0.8);color: #fff;position: fixed;right: 0;bottom: 0;margin: 10px;border-radius: 50%;box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4)}


/*   REGISTER */

.text-danger{color: rgb(255,0,0);font-size: 14px;font-weight: 400;margin-top: 5px;}

#main-register{
    width: 80%;
    margin: 40px auto;
    display: block;
    text-align: center;
    
}

.title-register{margin: 10px 0px;margin-bottom: 15px;}
.title-register h2{font-size: 24px;font-weight: 300;}


.div-facebookregister{padding: 15px;margin: 20px 10px;background-color: #b5b4b8;}
.div-facebookregister:hover{background-color: #dc042c;}
.div-facebookregister a{text-decoration: none;color: #444;font-weight: 400;font-size: 16px;}
.div-facebookregister:hover a{color: #fff;}
.div-googleregister{padding: 15px;margin: 20px 10px;background-color: #b5b4b8}
.div-googleregister:hover{background-color: #dc042c;}
.div-googleregister a{text-decoration: none;color: #444;font-weight: 400;font-size: 16px;}
.div-googleregister:hover a{color: #fff;}

.break{padding: 5px;}
.break p{font-size: 14px;font-weight: bold;color: #444;}


.create-form{
    display: block;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
    box-shadow: 0px 0px 10px rgb(207, 201, 201);
}
.control-form{
    font-weight: 500;
    padding: 20px;
}
.control-form label{
    display: block;
    color: #87868a;
    font-size: 16px;
    text-align: left;
    padding: 5px;
    font-weight: 600;
}

.control{
    width: 100%;
    border: none;
    border-bottom: 1px solid #87868a;
    font-weight: 100;
    font-size: 16px;
    padding: 10px 5px;
    margin-top: 5px;
}

.div-button-register{
    margin: 15px;
}
.button-form{
    padding: 10px;
    border: none;
    background-color: #9e4454;
    color: #fff;
    font-weight: 300;
}
.button-form:hover{background-color: #dc042c;}

.div-register-p{
    margin-top: 20px;color: #444;font-weight: 500;font-size: 16px;
}
.div-register-p a{
    text-decoration: none;font-weight: 400;
    color: #dc042c;
}

#footer-copyright-login-register{
    text-align: center;
    background-color: #9e4454;color: #fff;padding-top: 5px;padding-left: 5px;font-weight: lighter
}

/* LOGIN   */

.div-header{
    padding: 20px 0 10px 20px;
}

.div-header img {
    width: 200px;
}

.main-login{
    width: 80%;
    margin: 40px auto;
    display: block;
    text-align: center;
}

.title-login{margin: 10px 0px;}
.title-login h2{font-size: 24px;font-weight: 300;}

.design-form{
    display: block;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
    box-shadow: 0px 0px 10px rgb(207, 201, 201);
}

.div-form{
    font-weight: 500;
    padding: 20px;
}

.div-form label {
    display: block;
    color: #87868a;
    font-size: 16px;
    text-align: left;
    padding: 5px;
    font-weight: 600;
}

.input-control{
    width: 100%;
    border: none;
    border-bottom: 1px solid #87868a;
    font-weight: 100;
    font-size: 16px;
    padding: 10px 5px;
    margin-top: 5px;
}
.rememberUser label{font-size: 14px;}
.rememberUser{margin: 10px 0;}

.div-a{
    margin: 5px;
    padding: 5px;
}
.div-a a{
    text-decoration: none;
    font-weight: 400;
    color: #dc042c;
    font-size: 16px;
}

#div-button{
    margin: 15px;
}
.design-button{
    width: 45%;
    padding: 10px;
    border: none;
    background-color: #9e4454;
    color: #fff;
    font-weight: 300;
}
.design-button:hover{background-color: #dc042c;}

.div-p{margin-top: 20px;color: #444;font-weight: 500;font-size: 16px;}

.div-p a{text-decoration: none;font-weight: 400;
    color: #dc042c;
}

/*  DETALLE DEL PRODUCTO   */

.div-img-detail{margin: auto;}

#main-detail-product{margin: auto;color: #87868a;padding: 10px 20px;margin-top: 20px;}
.img-detail{width: 100%;display: block;}
.div-img-detail{margin: 10px 0px;}
.ul-titles-detail{list-style: none;display: flex;flex-wrap: wrap;flex-direction: row;justify-content: center;align-items: center;font-size: 14px;font-weight: 300;}
.ul-titles-detail li{padding: 5px;}
.ul-titles-detail li a:hover{border-bottom: 1px solid #dc042c;}
.ul-titles-detail a{text-decoration: none;color: #87868a;}
.section-detail-product h2{text-align: center;font-size: 20px;padding: 15px;font-weight: 500;}

.price-detail{margin: auto;margin-top: 10px; text-align: center;font-size: 32px;padding: 10px;font-weight: 500;color: #444;}

.discount-detail{width: 25%;margin: 10px auto;text-align: center;font-size: 16px;padding: 5px;color: #dc042c;}

.div-a-detail{text-align: center;border-bottom: 1px solid #dc042c;padding: 10px 0px;}
.div-a-detail a{text-align: center;color: #9e4454;font-size: 18px;font-weight: 300;}

.form-detail{text-align: center;}
.button-detail-add{border: none;background-color: #9e4454;color: #fff;font-size: 16px;width: 60%;padding: 8px;font-weight: 300;margin: 20px;}
.button-detail-add:hover{background-color: #dc042c;}

.description-detail-product{margin: 15px;}
.description-detail-product h4{font-size: 16px;font-weight: 400;padding: 10px 5px 5px 5px;text-align: center;}
.description-detail-product p{font-weight: 300;padding: 10px;font-size: 14px;}

.features-detail{display: flex;flex-wrap: wrap;flex-direction: row;justify-content: space-around;align-items: center;font-size: 16px;}
.features-color{display: flex;flex-wrap: wrap;flex-direction: row;justify-content: space-around;align-items: center;}
.features-color p{padding: 5px;}
.features-size{display: flex;flex-wrap: wrap;flex-direction: row;justify-content: space-around;align-items: center;}
.features-size p{padding: 5px;}

.div-edit-delete{display: flex;flex-wrap: wrap;justify-content: space-between;align-items: center;margin: 20px 0px;}
.div-edit-delete a{text-decoration: none; padding: 10px;font-size: 16px;font-weight: 300;color: #fff;background-color: #4f9509;}
.div-edit-delete a:hover{background-color: #407907;}
.div-edit-delete button{border: none;padding: 10px;font-size: 16px;font-weight: 300;color: #fff;background-color: #dc042c;}
.div-edit-delete button:hover{background-color: #eb055d;}


.section-comment-detail{margin: 15px 0px;}
.form-comment-detail{text-align: center;}
.area-comment-deatil{width: 100%;padding: 5px;font-style: italic;}


.related-products{padding-bottom: 20px;}
.article-products-detail{margin: 20px 0px;border-radius: 4px;}
#description-related-product{display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;padding: 10px;padding-top: 15px; position: relative;border-top: 1px solid #4f9509;}

#description-related-product i{
    display: block;
    font-size: 20px;
    padding: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0px;
    top: -15px;
    color: #4f9509;
}
.price-related{font-size: 18px;color: #87868a;flex-grow: 1;text-align: center;}
.discount-related{font-size: 16px;text-align: center;color: #dc042c;flex-grow: 1;}
.name-product-detail{width: 100%;font-weight: 300;color: #87868a;font-size: 18px;text-align: center;padding: 5px 0;}





/*   CARRITO DE COMPRAS */

#main-cart{color: #87868a;margin: 0px auto;padding: 0 20px;}
.form-cart{display: flex;flex-wrap: wrap;align-items: center;justify-content: left;padding: 0 10px;}
.form-cart label{width: 40%;padding: 5px;font-size: 14px;}
.form-cart input{border: 1px solid #c5c4c8;width: 40%;padding: 5px;border-radius: 4px;}

/* CARRITO DE COMPRAS-seccion CARRITO */

#div-titles-cart h3{border-bottom: none;margin-top: 20px;}



.product-subtotal-cart h4{font-size: 14px;font-weight: 400;padding: 5px;}

.product-subtotal-cart{display: flex;justify-content: space-between;flex-grow: 1;border-top: 1px solid #b5b4b8;border-bottom: 1px solid #b5b4b8;}

.img-cart{width: 100%;display: block;}

.article-product-cart{display: flex;flex-wrap: wrap;align-items: stretch;padding: 5px 0px;align-items: center;border-bottom: 1px solid #b5b4b8;}

.div-img-cart{width: 40%;}

.div-cart-description{width: 60%;display: flex;flex-wrap: wrap;}

.div-cart-description h5{width: 100%;font-size: 16px;text-align: center;padding: 10px;font-weight: 300;}

.price-cart, .discount-cart{width: 50%;font-size: 14px;text-align: center;margin-top: 5px;}
.discount-cart{color: #dc042c;}

.div-cart-subtotal{width: 30%;text-align: right;font-size: 14px;padding-top: 10px;}

/*CARRITO DE COMPRAS-seccion TOTAL GENERAL*/

#section-cart-total{box-shadow: -1px 1px 6px 2px rgba(163, 161, 162, 0.18);;margin: 15px 0px;padding: 5px;padding: 20px 10px;}

#section-cart-total h4{font-size: 14px;font-weight: 400;padding: 5px;border-bottom:1px solid #b5b4b8;}

.totalgeneral-subtotal-cart{display: flex;flex-wrap: wrap;justify-content: space-between;padding: 12px 0px;font-size: 16px;}

.totalgeneral-shipping-cart{display: flex;flex-wrap: wrap;justify-content: space-between;padding: 12px 0px;font-size: 16px;}

.div-total-cart{display: flex;flex-wrap: wrap;justify-content: space-between;padding: 12px 0px;background-color: #fdebd2;}
.div-total-cart p{font-size: 18px;color: #87868a;padding: 0 5px;font-weight: 500;}

.div-discount-cart{ text-align: center;padding: 10px;}
.div-discount-cart a{text-decoration: none;font-size: 16px;color: #dc042c;font-weight: 300;}

.totalgeneral-button-cart{text-align: center;padding: 5px;}
.button-design-totalgeneral-cart{border: none;background-color: #9e4454;color: #fff;padding: 10px;width: 40%;margin: 5px;}

.button-design-totalgeneral-cart:hover, .button-design-add:hover{background-color: #dc042c;}

.div-all-products-cart{text-align: center;padding: 10px;}
.div-all-products-cart a{text-decoration: none;font-weight: 300;color: #dc042c;font-size: 16px;}


/* CARRITO DE COMPRAS-seccion AGREGAR AL CARRITO */


#section-cart-add{padding-bottom: 20px;margin-bottom: 25px;}
.article-product-add{margin: 20px 0px;border-radius: 4px;}
.price-add{font-size: 18px;color: #87868a;flex-grow: 1;text-align: center;}
.discount-add{font-size: 16px;text-align: center;color: #dc042c;flex-grow: 1;}
.name-product-add{width: 100%;font-weight: 300;color: #87868a;font-size: 18px;text-align: center;padding: 10px 0;}
.description-product-add{display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;padding: 10px;padding-top: 15px; position: relative;border-top: 1px solid #4f9509;}
.description-product-add i{
    display: block;
    font-size: 20px;
    padding: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0px;
    top: -15px;
    color: #4f9509;
}

#div-button-add{margin: 10px;}
.button-add{text-align: center;}
.button-design-add{border: none;background-color: #9e4454;color: #fff;padding: 10px;width: 30%;font-weight: 300;}
.button-design-add:hover{background-color: #dc042c;}



/*  PRODUCTS LIST - MAIN  */

#main-productsList{margin: auto;width: 90%;display: block;}
#section-title-productsList{margin-top: 15px;display: block;}
.ul-titles-productsList{list-style: none;display: flex;flex-wrap: wrap;flex-direction: row;justify-content: center;align-items: center;font-size: 14px;font-weight: 300;}
.ul-titles-productsList li{padding: 5px;}
.ul-titles-productsList li a{text-decoration: none;color: #87868a;}
.ul-titles-productsList li a:hover{border-bottom: 1px solid #dc042c;}
#div-title-h2-productsList{padding: 10px;font-size: 20px;text-align: center;}
#div-title-h2-productsList h2{font-weight: 300;}

#banner-productsList{position: relative;text-align: center;display: block;}
#banner-productsList h4{
    color: #fff;
    text-shadow: 0 0 5px rgb(97, 94, 94);
    background-color: rgba(235, 227, 227, 0.6);
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    position: absolute;
    left: 0px;
    top: 40px;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

#products-filter-productsList{margin: 20px 0px ;}

#orden-productsList{display: block;padding: 10px 5px;margin-bottom: 20px;}
.form-orden-productsList label{display: block;font-size: 16px;font-weight: 500;margin-bottom: 5px;}
.select-orden-productsList{font-size: 16px;color: #87868a;padding: 8px;border:1px solid #87868a;width: 100%;}

#filter-mobile-productsList{display: flex;flex-wrap: wrap;flex-direction: row;justify-content: space-between; align-items: center;font-size: 16px;margin-top: 10px;background-color: #9e4454;color: #fff; padding: 10px;}
#filter-mobile-productsList p{margin-left: 5px;font-weight: 300;}

#categories-productsList{padding: 5px;}

#box-productsList{display: flex;flex-wrap: wrap;flex-direction: row;}
.article-productsList{width: 45%;margin: 0 8px 45px 8px;}
.article-productsList a{text-decoration: none;}
#button-productsList{text-align: center;margin: 20px 0px;}
.design-button-productsList{border: none;background-color: #9e4454;color: #fff;padding: 10px;font-weight: 300;width: 70%;}
.design-button-productsList:hover{background-color: #dc042c;}

.div-a-create{margin: 25px 0px;text-align: right;}
.div-a-create a{text-decoration: none;padding: 10px;color: #fff;font-size: 16px;font-weight: 300;background-color: #4f9509;}
.div-a-create a:hover{background-color: #dc042c;}

/* CREACION Y EDICION DE PRODUCTOS*/

#main-productCreate{margin: 30px 0px;}

.div-header-top-create{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;flex-direction: row;
    justify-content: space-between;
}

.div-header-top-create img {
    width: 150px;
}

.ul-header-create{list-style: none;display: flex;flex-wrap: wrap;}
.ul-header-create li{font-size: 16px;padding: 5px;}

#section-title-productCreate{text-align: center;margin-top: 25px;}

#section-title-productCreate h2{font-size: 24px;font-weight: 300;margin-bottom: 20px;}

#section-form-productCreate{width: 90%;margin: 10px auto;border: 1px solid #d9d8db;border-radius: 3px;font-size: 14px;box-shadow: 0px 0px 10px rgb(231, 228, 228);}

#section-form-productCreate h4{text-align: left;padding: 0px 20px;margin-top: 30px;font-size: 16px;}

.form-productCreate{display: block;text-align: center;margin: 10px 0px;width: 100%;padding: 25px 0px;}



#div-name-productCreate{font-weight: 500;padding: 10px 20px;text-align: left;;}



#div-name-productCreate label{display: block;color: #87868a;font-size: 18px;font-weight: 500;text-align: left;padding: 5px;margin-bottom: 10px;}
#div-photo-productCreate{font-weight: 500;padding: 10px 20px;text-align: left;}
#div-photo-productCreate label{display: block;color: #87868a;font-size: 18px;text-align: left;padding: 5px;font-weight: 500;margin-bottom: 10px;}
#div-description-productCreate{font-weight: 500;padding: 10px 20px;text-align: left;}
#div-description-productCreate label{display: block;color: #87868a;font-size: 18px;text-align: left;padding: 5px;font-weight: 500;margin-bottom: 10px;}
#div-categories-productCreate{font-weight: 500;padding: 10px 20px;text-align: left;}
#div-categories-productCreate label{display: block;color: #87868a;font-size: 18px;text-align: left;padding: 5px;font-weight: 500;margin-bottom: 10px;}
#div-add-category-productCreate{font-weight: 500;padding: 15px 20px;text-align: left;}
#div-add-category-productCreate label{display: block;color: #87868a;font-size: 18px;text-align: left;padding: 5px;font-weight: 500;margin-bottom: 10px;}

#name-newproduct{border:none;width: 100%;border-bottom: 1px solid #4f9509;font-weight: 100;font-size: 16px;padding: 10px 5px;
}
.input-description{width: 100%;height: 200px;border: 1px solid #87868a;}
.textarea-description{width: 100%;padding: 8px;height: 260px;}

.input-newcategory{width: 100%;border: none;border-bottom: 1px solid #4f9509;padding: 10px;}
#div-variants-productCreate{font-weight: 500;padding: 10px 20px;text-align: left;}
#div-variants-productCreate label{display: block;color: #87868a;font-size: 18px;text-align: left;padding: 5px;font-weight: 500;margin-bottom: 10px;}
#color-variant select, #size-variant select{background-color: #4f9509;color: #fff; padding: 8px;width: 100%;font-weight: 500;padding: 10px 20px;text-align: left;}

#div-price-productCreate label{ color: #87868a;font-size: 18px;text-align: left;padding: 5px;font-weight: 500;margin-bottom: 10px;}

#price-productCreate input, #stock-productCreate input {width: 70px; border: none;border:1px solid #cdccd1; box-shadow: 0px 0px 5px rgb(223, 217, 217); font-size: 16px;padding: 5px;margin-top: 10px;border-radius: 4px;}

#buttons-productsCreate{margin-top: 40px;margin-bottom: 30px;}

.design-button-productCreate{border: none;background-color: #9e4454;color: #fff;padding: 8px;font-weight: 400;font-size: 16px;}
.design-button-productCreate:hover{background-color: #dc042c;}
#buttons-productsCreate a{text-decoration: none;}





/*   MEDIAS QUERIES   */

@media(min-width: 361px){



    /*PRODUCT CREATE*/
    #section-form-productCreate{width: 80%;display: flex;flex-wrap: wrap;}
    #div-name-productCreate{width: 100%;}
    .form-productCreate h4{width: 100%;}
    #div-photo-productCreate{width: 100%;}
    #div-description-productCreate{width: 100%;}
    #div-categories-productCreate{width: 100%;}
    #div-add-category-productCreate{width: 100%;}
    #div-variants-productCreate{width: 80%;display: flex; justify-content: space-around;}
    #color-variant, #size-variant{width: 40%;}
    #div-price-productCreate{width: 100%;margin-top: 10px;text-align: center;}
    #buttons-productsCreate{width: 100%;}
    #h4-variants{width: 100%;font-size: 16px;}
    #h4-price{width: 100%;font-size: 16px;}

    .div-header-top-create{margin: 0 10px;}
    .ul-header-create li{font-size: 18px;padding: 10px;}
    .div-header-top-create img {width: 200px;}
    








    /*PRODUCTS LIST*/
    .design-button-productsList{width: 55%;}
    #banner-productsList h4{font-size: 25px;}



    .box-products-detail{display: flex;flex-wrap: wrap;flex-direction: row; justify-content: space-between;}
    .article-products-detail{width: 45%;}

    .div-img-detail{margin: auto;width: 70%;}


    .article-products-detail:hover{
        box-shadow: 0px 0px 10px rgb(224, 220, 220);
        transition: 450ms;
    }

    .article-products-detail:hover .fa-truck{
        transform: translateX(10px);
        transition: 1000ms;
    }

    .article-products-detail:hover p.hidden-product {
        display: block;
    }

    .hidden-subtotal-cart{display: block;}

    .article-product-cart{justify-content: space-between;}
    .div-img-cart{width: 30%;}
    .div-cart-description{width: 50%;}
    .div-cart-description h5{text-align: left;}
    .div-cart-subtotal{width: 20%;align-self: flex-end;}
    .price-cart, .discount-cart{padding: 10px;text-align: left;width: 100%;}

   .box-products-add{display: flex;flex-wrap: wrap;justify-content: space-between;} 
    .article-product-add{width: 45%;}
    .button-design-add{width: 50%;}

    .article-product-add:hover{
        box-shadow: 0px 0px 10px rgb(224, 220, 220);
        transition: 450ms;
    }

    .article-product-add:hover .fa-truck{
        transform: translateX(10px);
        transition: 1000ms;
    }

    .article-product-add:hover p.hidden-product {
        display: block;
    }

    
    .main-login{width: 70%;margin-top: 50px;margin-bottom: 50px;}
    .design-button{width: 50%;}

    #main-register{width: 70%;margin-top: 40px;margin-bottom: 40px;}

    .article-product:hover{
        box-shadow: 0px 0px 10px rgb(224, 220, 220);
        transition: 450ms;
    }

    .article-product:hover p.hidden-product {
        display: block;
    }

    .article-product:hover .fa-truck{
        transform: translateX(10px);
        transition: 1000ms;
    }

    .product-category{
        margin: 8px;
        width: 45%;
    }

    #box-categories{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #box-products{display: flex;flex-wrap: wrap;justify-content: center;}
    .main-results{margin: 20px 30px;}
    .article-product{width: 45%;margin: 10px;}
}

@media(min-width: 769px){

    .section-profile{margin: 30px 20px;padding: 10px;}
    .greet-user{padding: 5px;margin: 10px 0;}
    .div-img-profile{width: 40%;}
    .div-info-user{padding: 10px;margin: 12px 0;width: 40%;}

    /*PRODUCT CREATE*/
    .form-productCreate{display: flex;flex-wrap: wrap;}
    .div-informationproduct{width:50% ;}
    .div-features{width:50%;border-left: 1px solid #b5b4b8;}
    .div-inventory{width: 100%;}
    .div-buttons{width:100% ;}



    #section-title-productCreate h2{font-size: 36px;font-weight: 300;margin-bottom: 20px;}
    #section-form-productCreate{width: 85%;}
    #div-categories-productCreate{width: 50%;}
    #div-add-category-productCreate{width: 70%;}
    #div-variants-productCreate{width: 70%;}
    #div-price-productCreate{width: 60%;margin: 20px;text-align: left;}
    #h4-variants{width: 25%;}
    #h4-price{width: 40%;}

    

    /*PRODUCTS LIST */
    #banner-productsList h4{font-size: 35px;}
    .article-productsList{width: 22%; margin: 0 7px 45px 7px;}
    .article-productsList:hover{
        box-shadow: 0px 0px 10px rgb(224, 220, 220);
        transition: 450ms;
    }

    .article-productsList:hover .fa-truck{
        transform: translateX(10px);
        transition: 1000ms;
    }

    .article-productsList:hover p.hidden-product {
        display: block;
    }

    
    #filter-mobile-productsList{display: none;}
    .form-orden-productsList{width: 25%;}
    #orden-productsList{display: flex;justify-content: flex-end;flex-wrap: wrap;align-items: center;flex-direction: row;width: 100%;}
    .design-button-productsList{width: 30%;}
    .hidden-filter-productsList{display: block;}
    #products-filter-productsList{display: flex;flex-wrap: wrap;flex-direction: row;}
    #categories-productsList{width: 20%;}
    
    #productsList{width: 80%;padding: 0px 30px;}
    .ul-categories-productsList{list-style: none;margin: 20px 0px;}
    .ul-categories-productsList li a{text-decoration: none;color: #87868a;font-size: 16px;font-family: 'Rajdhani';font-weight: 500;}
    .ul-categories-productsList li{margin: 10px 0px;}
    #filters-productsList label{display: block;margin: 10px 5px;font-weight: 600;}
    #filter-color-productsList, #filter-size-productsList{margin-top: 30px;}

    #categories-productsList h4{padding: 10px 5px 5px 5px;font-size: 16px;font-weight: 500;color: #9e4454;}
    
    .div-filters-productList{border-bottom: 1px solid #87868a;display: flex;flex-wrap: wrap;flex-direction: row;justify-content: space-between;align-items: center;}
    .div-filters-productList i{font-size: 16px;margin-right: 5px;color: #9e4454;}






    .div-titles-detail, .section-detail-product, .section-comment-detail{width: 60%;margin: auto;}
    .article-products-detail{width: 20%;}
    .box-products-detail{justify-content: space-around;}
    .section-comment-detail{margin-top: 15px;}

    #div-titles-cart{display: flex;align-items: center;flex-wrap: wrap;justify-content: space-between;margin-bottom: 15px;margin-top: 20px;}
    #div-titles-cart h3{width: 30%;margin: 0;}
    .ul-titles-cart{width: 60%;}
    .ul-titles-cart li{font-size: 16px;padding-top: 5px;padding-bottom: 5px;}

    .ul-titles-cart ul{
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    
    
    .ul-titles-cart ul li a{text-decoration: none;color: #87868a;}

    .box-products-add{justify-content: space-between;}
    .article-product-add{width: 22%;}

    .hidden-titles-cart{display: block;}

    .div-img-cart{width: 18%;}

    #div-cart{display: flex;flex-wrap: wrap;align-items: center;justify-content: space-around;margin-bottom: 15px;}
    #section-cart{width: 60%;margin: 5px;}
    #section-cart-total{width: 30%;}



    
    .article-product-add{width: 22%;}


    .main-login{width: 50%;margin-top: 70px;margin-bottom: 70px;}
    .div-form{padding: 25px;}
    .title-login h2{font-size: 36px;font-weight: 300;margin-bottom: 20px;}



    #main-register{width: 70%;margin-top: 50px;margin-bottom: 50px;}
    .create-form{display: flex;flex-wrap: wrap;align-items: center;}
    .div-network{width: 50%;align-items: center;}
    .div-formregister{width: 50%;border-left:1px solid #87868a ;}
    .title-register h2{font-size: 36px;font-weight: 300;margin-bottom: 20px;}
    .break{display: none;}
    .hidden{display: block;}

    .product-category h4:hover {
        background-color: rgba(235, 227, 227, 0.8);
        border-radius: 50%;
        transition: 450ms;
    }

    .product-category{width: 22%;margin: 10px;}
    h3{text-align: left;}
    
    .article-product{width: 22%;}
    .design-button-product{width: 30%;}

    #box-info{display: flex;flex-wrap: wrap;justify-content: space-around;}
    .div-info{width: 33%;font-size: 14px;}
   

    #box-footer{display: flex;flex-wrap: wrap;justify-content: space-around;align-items: flex-start;padding: 20px;}
    #div-help, #div-networks, #div-contact{width: 33%;}

    #header-mobile{display: none;}
    .cart{display: none;}

    #ul-header{margin: 0;padding: 0;display: flex;flex-wrap: wrap;flex-direction: row;align-items: center;justify-content: space-between;list-style: none;}
    #ul-header li{padding: 8px;font-size: 16px;}
    #header-logo{width: 30%;}
    #header-logo img{width: 100%;}
    #nav-header{width: 60%;}
    #nav-header ul{width: 100%;}
    #nav-header ul li{width: 20%;}
    
    #bottom-header{display: flex;flex-wrap: wrap;align-items: center;width: 100%;}
    .div-logo{flex-grow: 2;padding: 10px 0;}
    .div-nav-bar{flex-grow: 7;font-size: 16px;}
    .div-cart{flex-grow: 1;align-self: center;text-align: center;}


    #top-header{display: flex;flex-wrap: wrap;flex-direction: row;align-items: center;margin: 0;padding: 4px;background-color: #fdebd2;}
    #header-logo img{width: 250px;}
    #login-register ul{list-style: none;display: flex;}
    #login-register ul li a{font-size: 14px; padding: 5px;margin-right: 5px;}
    #login-register i{color: #87868a;}
    #login-register{width: 60%;}
    #div-search{width: 40%;font-size: 15px;padding-left: 15px;}
    .form-search-header{width: 50%;background-color: #fff;box-shadow: 0px 0px 2px rgb(199, 194, 194);display: flex;align-items: center;flex-wrap: wrap;justify-content: space-between;}
    .button-search{border: none;padding: 5px;color: #87868a;background-color: #fff;width: 25%;}
    .area-search{border: none;padding: 5px;width: 75%;}
}