<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="div-header">
            <a href="/"><img src="img/Logo/logo.jpg" alt="logo"></a>
        </div>
    </header>
    <main class="main-login">
        <form action="" method="POST" class="design-form">
            <div class="div-form">
                <label id="usuario">EMAIL</label>
                <input type="email" id="email" name="email" class="input-control" placeholder="Ej: abcd@efgh.com">
            </div>
            <div class="div-form">
                <label id="password">CONTRASEÑA</label>
                <input type="password" id="password" name="password" class="input-control" placeholder="Ingrese la contraseña">
            </div>
            <div class="div-a">
                <a href="#">¿Olvidaste tu contraseña?</a>
            </div>
            <div id="div-button">
                <button type="submit" class="design-button">INICIAR SESIÓN</button>
            </div>
            <div class="div-p">
                <p>¿No tienes una cuenta? <a href="/register">Crear cuenta</a></p>
            </div>
            
        </form>

    </main>
    <footer>
        <div id="footer-copyright-login-register">
            <p>Copyright ©2021 Macramé Rose.</p>
        </div>
    </footer>
    
</body>
</html>