<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="div-header">
            <a href="/"><img src="img/Logo/logo.jpg" alt="logo"></a>
        </div>
    </header>
    <main id="main-register">
        <form action="/" method="POST" class="create-form">
            <div class="control-form">
                <label for="usuario">USUARIO</label>
                <input id="usuario" type="text" name="usuario" class="control" placeholder="Nombre de usuario">
            </div>
            <div class="control-form">
                <label for="email">EMAIL</label>
                <input id="email" type="email" name="email" class="control" placeholder="Ej: abcd@efgh.com">
            </div>
            <div class="control-form">
                <label>CONTRASEÑA</label>
                <input type="password" name="password" class="control" placeholder="Ingrese contraseña">
            </div>
            <div class="control-form">
                <label>CONFIRMAR CONTRASEÑA</label>
                <input type="password" name="password" class="control" placeholder="Ingrese contraseña">
            </div>
            <div class="div-button-register">
                <button type="submit" class="button-form">CREAR CUENTA</button>
                <button type="reset" class="button-form">BORRAR</button>
            </div>
            <div class="div-register-p">
                <p>¿Ya tienes una cuenta? <a href="/login">Iniciar sesión</a></p>
            </div>
        </form>
    </main>
    <footer>
        <div id="footer-copyright-login-register">
            <p>Copyright ©2021 Macramé Rose.</p>
        </div>
    </footer>
</body>
</html>