<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div id="header-mobile">
            <div id="burguer-menu">
                <i class="fas fa-bars"></i>
                <p>INICIO</p>
            </div>
            <div id="header-search"><i class="fas fa-search"></i></div>
        </div>
        <div id="top-header" class="hidden">
            <div id="div-search">
                <form action="/" method="GET">
                    <input type="text" name="search" placeholder="Buscar" class="area-search">
                    <button type="submit" class="button-search"><i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
            <div id="login-register">
                <ul>
                    <li class="border-right"><i class="fas fa-user"></i><a href="/register"><strong> CREAR CUENTA</strong></a></li>
                    <li><a href="/login">INICIAR SESIÓN</a></li>
                </ul>
            </div>
        </div>
        <div id="bottom-header">
            <ul id="ul-header">
                <li id="header-logo">
                    <a href="/"><img src="img/Logo/logo.jpg" alt="logo" id="logo"></a>
                </li>
                <li id="nav-header">
                    <nav id="navbar">
                        <ul>
                            <li class="border-bottom" ><a href="/">INICIO</a></li>
                            <li class="border-bottom" ><a href="#">PRODUCTOS</a></li>
                            <li class="hidden border-bottom"><a href="#">ENVÍOS</a></li>
                            <li class="hidden border-bottom"><a href="#">CONTACTO</a></li>
                            <li class="cart"><a href="/productCart"><i class="fas fa-shopping-cart"></i>CARRITO</a></li>
                        </ul>
                    </nav>
                </li>
                <li id="shop-cart" class="hidden">
                    <a href="/productCart"><img src="/img/iconos/icon-cart.png" alt="carrito"></a>
                </li>
            </ul>
        </div>
    </header>
    <main id="main-cart">
        <div id="div-titles-cart">
            <h3>CARRITO DE COMPRAS</h3>
            <div class="ul-titles-cart hidden-titles-cart">
                <ul>
                    <li><a href="#">Información de envío</a></li>
                    <li><a href="#">Métodos de pago</a></li>
                    <li><a href="#">Revisión del pedido</a></li>
                </ul>
            </div>
        </div>
        <div id="div-cart">
            <section id="section-cart">
                <div class="product-subtotal-cart">
                    <h4>PRODUCTO</h4>
                    <h4 class="hidden-subtotal-cart">SUBTOTAL</h4>
                </div>
                <div>
                    <article class="article-product-cart">
                        <div class="div-img-cart"><img src="img/almohadones/almohadon-1.jpg" class="img-cart" alt="">
                        </div>
                        <div class="div-cart-description">
                            <h5>ALMOHADON DECORATIVO MACRAMÉ NEGRO</h5>
                            <p class="price-cart">$1.280</p>
                            <p class="discount-cart">10% off</p>
                        </div>
                        <div class="div-cart-subtotal hidden-subtotal-cart">
                            <p>$6.770</p>
                        </div>
                    </article>
                    <article class="article-product-cart">
                        <div class="div-img-cart">
                            <img src="img/adornos/adorno-3.jpg" class="img-cart" alt="">
                        </div>
                        <div class="div-cart-description">
                            <h5>MACRAMÉ COLGANTE DE PARED DECO PLUMAS</h5>
                            <p class="price-cart">$2.120</p>
                            <p class="discount-cart">15% off</p>
                        </div>
                        <div class="div-cart-subtotal .hidden-subtotal-cart">
                            <p>$6.770</p>
                        </div>
                    </article>
                </div>
            </section>
            <section id="section-cart-total">
                <div class="div-h4-totalgeneral-cart">
                    <h4>TOTAL GENERAL</h4>
                </div>
                <div class="div-totalgeneral-cart">
                    <div class="totalgeneral-subtotal-cart">
                        <p>Subtotal(sin envío)</p>
                        <p>$3.400</p>
                    </div>
                    <div class="totalgeneral-shipping-cart">
                        <p>Envío</p>
                        <p>A calcular</p>
                    </div>
                    <div class="div-total-cart">
                        <p>TOTAL</p>
                        <p>$3.900</p>
                    </div>
                    <div class="div-discount-cart">
                        <a href="#">¿Tienes un cupon de descuento?</a>
                    </div>
                    <div>
                        <form action="/" method="GET" class="totalgeneral-button-cart">
                            <button type="submit" class="button-design-totalgeneral-cart">INICIAR COMPRA</button>
                        </form>
                    </div>
                    <div class="div-all-products-cart">
                        <a href="/products">Ver mas productos</a>
                    </div>
                </div>
            </section>
        </div>
        <section id="section-cart-add">
            <h3>AGREGAR AL CARRITO</h3>
            <div class="box-products-add">
                <article class="article-product-add">
                    <img src="img/adornos/adorno-1.jpg" alt="" class="img-cart">
                    <div class="description-product-add">
                        <i class="fas fa-truck"></i>
                        <h4 class="name-product-add">COLGANTE PARA PARED- MACRAMÉ GRANDE- DECORACION BUHO</h4>
                        <p class="price-add hidden-product">$1.570</p>
                        <p class="discount-add hidden-product">15% off</p>
                    </div>
                    <div id="div-button-add">
                        <form action="/" method="GET" class="button-add">
                            <button type="submit" class="button-design-add">AGREGAR</button>
                        </form>
                    </div>
                </article>
                <article class="article-product-add">
                    <img src="img/adornos/adorno-2.jpg" alt="" class="img-cart">
                    <div class="description-product-add">
                        <i class="fas fa-truck"></i>
                        <h4 class="name-product-add">MACRAMÉ PARED DECORACION BUHO COLGANDO</h4>
                        <p class="price-add hidden-product">$2.770</p>
                        <p class="discount-add hidden-product">20% off</p>
                        
                    </div>
                    <div id="div-button-add">
                        <form action="/" method="GET" class="button-add">
                            <button type="submit" class="button-design-add">AGREGAR</button>
                        </form>
                    </div>
                </article>
                <article class="article-product-add">
                    <img src="img/adornos/adorno-11.jpg" alt="" class="img-cart">
                    <div class="description-product-add">
                        <i class="fas fa-truck"></i>
                        <h4 class="name-product-add">MACRAMÉ GRANDE- COLGANTE DE PARED PLUMAS</h4>
                        <p class="price-add hidden-product">$3.450</p>
                        <p class="discount-add hidden-product">40% off</p>
                    </div>
                    <div id="div-button-add">
                        <form action="/" method="GET" class="button-add">
                            <button type="submit" class="button-design-add">AGREGAR</button>
                        </form>
                    </div>
                </article>
                <article class="article-product-add">
                    <img src="img/almohadones/almohadon-3.jpg" alt="" class="img-cart">
                    <div class="description-product-add">
                        <i class="fas fa-truck"></i>
                        <h4 class="name-product-add">ALMOHADON RÚSTICO- BOHEMIO CHIC</h4>
                        <p class="price-add hidden-product">$1.999</p>
                        <p class="discount-add hidden-product">10% off</p>
                    </div>
                    <div id="div-button-add">
                        <form action="/" method="GET" class="button-add">
                            <button type="submit" class="button-design-add">AGREGAR</button>
                        </form>
                    </div>
                </article>
            </section>
            </div>
    </main>
    <footer>
        <div id="box-footer">
            <div id="div-help">
                <h4>¿NECESITAS AYUDA? <a href="#">ESCRIBÍNOS</a></h4>
            </div>
            <div id="div-networks">
                <h4>REDES SOCIALES</h4>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-pinterest-square"></i></a>
            </div>
            <div id="div-contact">
                <h4>CONTACTÁNOS</h4>
                <p>011-3245-2344</p>
                <p><a href="mailto:#">macrameRose@gmail.com</a></p>
            </div>
        </div>
        <div id="footer-info">
            <ul>
                <li><a href="#">PREGUNTAS FRECUENTES</a></li>
                <li><a href="#">CÓMO COMPRAR</a></li>
                <li><a href="#">TÉRMINOS Y CONDICIONES</a></li>
            </ul>
        </div>
        <div id="icon-whatsap">
            <a href="http://www.whatsapp.com"><i class="fab fa-whatsapp"></i></a>
        </div>
        <div id="footer-copyright">
            <p>Copyright ©2021 Macramé Rose.</p>
        </div>
    </footer>
</body>
</html>