<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main id="main-productsList">
        <section id="section-title-productsList">
            <div class="div-titles-productsList">
                <ul class="ul-titles-productsList">
                    <li><a href="/">INICIO</a></li>
                    <i class="fas fa-angle-right"></i>
                    <li><p>PRODUCTOS</p></li>
                </ul>
            </div>
            <div id="div-title-h2-productsList">
                <h2>PRODUCTOS</h2>
            </div>
        </section>
        <section id="banner-productsList">
            <img src="img/banner/banner-portamacetas-8.jpg" class="img-width" height="400px" alt="banner-products">
            <h4>Detalles con encanto para tu hogar</h4>
        </section>
        <section id="products-filter-productsList">
            <div id="orden-productsList">
                <form action="#" method="GET" class="form-orden-productsList">
                    <div id="div-orden-productsList">
                        <label>Ordenar por:</label>
                        <select name="orden" class="select-orden-productsList">
                        <option value="price-ascending ">Precio: Menor a Mayor</option>
                        <option value="price-descending">Precio: Mayor a Menor</option>
                        <option value="a-ascending">A - Z</option>
                        <option value="a-descending">Z - A</option>
                        <option value="created-descending">Más Nuevo al más Viejo</option>
                        <option value="created-ascending">Más Viejo al más Nuevo</option>
                        <option value="best-selling">Más Vendidos</option>
                        </select>
                    </div>
                </form>
                <div id="filter-mobile-productsList">
                    <p>FILTRAR PRODUCTOS</p>
                    <i class="fas fa-chevron-down"></i>
                </div>
            </div>
            <div id="categories-productsList" class="hidden-filter-productsList">
                <div class="div-filters-productList">
                    <h4>CATEGORIAS</h4>
                    <i class="fas fa-minus"></i>
                </div>
                <ul class="ul-categories-productsList">
                    <li><a href="#">PORTA MACETAS</a></li>
                    <li><a href="#">ALMOHADONES</a></li>
                    <li><a href="#">ESPEJOS</a></li>
                    <li><a href="#">CORTINAS</a></li>
                    <li><a href="#">ADORNOS</a></li>
                    <li><a href="#">BOLSOS Y CARTERAS</a></li>
                    <li><a href="#">ACCESORIOS</a></li>
                    
                </ul>
                <div id="filters-productsList">
                    <div class="div-filters-productList">
                        <h4>FILTROS</h4>
                        <i class="fas fa-minus"></i>
                    </div>
                    <div id="filter-color-productsList">
                        <label>COLOR:</label>
                        <input type="checkbox" name="color" > CRUDO<label></label>
                        <input type="checkbox" name="color"> NEGRO<label></label>
                        <input type="checkbox" name="color"> VERDE<label></label>
                        <input type="checkbox" name="color"> BEIGE<label></label>
                        <input type="checkbox" name="color"> MARRON<label></label>
                        <input type="checkbox" name="color"> ROSA<label></label>
                        <input type="checkbox" name="color"> GRIS<label></label>
                        <input type="checkbox" name="color"> ROJO<label></label>
                    </div>
                    <div id="filter-size-productsList">
                        <label>TAMAÑO:</label>
                        <input type="checkbox" name="tamaño"> PEQUEÑO<label></label>
                        <input type="checkbox" name="tamaño"> MEDIANO<label></label>
                        <input type="checkbox" name="tamaño"> GRANDE<label></label>
                    </div>
                </div>
                
            </div>
            <div id="productsList">
                <div id="box-productsList">
                    <article class="article-productsList">
                        <img src="img/products/almohadon1.jpg" alt="almohadon1" class="img-width">
                        <div id="description-product">
                            <i class="fas fa-truck"></i>
                            <h4 class="name-product">ALMOHADON DECORATIVO MACRAMÉ CRUDO. ESTILO BOHO</h4>
                            <p class="price hidden-product">$2.999</p>
                            <p class="discount hidden-product">15% off</p>
                        </div>
                    </article>
                    <article class="article-productsList">
                        <img src="img/products/almohadon2.jpg" alt="almohadon2" class="img-width">
                        <div id="description-product">
                            <i class="fas fa-truck"></i>
                            <h4 class="name-product">ALMOHADON CUBIERTO EN MACRAMÉ. DECORACIÓN MODERNA</h4>
                            <p class="price hidden-product">$2.420</p>
                            <p class="discount hidden-product">10% off</p>
                        </div>
                    </article>
                    <article class="article-productsList">
                        <img src="img/products/portamaceta1.jpg" alt="portamaceta1" class="img-width">
                        <div id="description-product">
                            <i class="fas fa-truck"></i>
                            <h4 class="name-product">COLGADOR DE PLANTAS GRANDE. DECORACION MINIMALISTA MODERNA</h4>
                            <p class="price hidden-product">$2.310</p>
                            <p class="discount hidden-product">10% off</p>
                        </div>
                    </article>
                    <article class="article-productsList">
                        <img src="img/products/portamaceta2.png" alt="portamaceta2" class="img-width">
                        <div id="description-product">
                            <i class="fas fa-truck"></i>
                            <h4 class="name-product">PORTA MACETA TEJIDO MACRAMÉ CRUDO CON BASE DE MADERA</h4>
                            <p class="price hidden-product">$2.600</p>
                            <p class="discount hidden-product">10% off</p>
                        </div>
                    </article>
                    <article class="article-productsList">
                        <img src="img/products/cortina1.jpg" alt="cortina1" class="img-width">
                        <div id="description-product">
                            <i class="fas fa-truck"></i>
                            <h4 class="name-product"> PANELES DE CORTINA ESTRELLA NEGRA.</h4>
                            <p class="price hidden-product">$17.242</p>
                            <p class="discount hidden-product">20% off</p>
                        </div>
                    </article>
                    <article class="article-productsList">
                        <img src="img/products/cortina2.jpg" alt="cortina2" class="img-width">
                        <div id="description-product">
                            <i class="fas fa-truck"></i>
                            <h4 class="name-product">CORTINA EN MACRAMÉ DECORACION GEOMETRICA</h4>
                            <p class="price hidden-product">$9.030</p>
                            <p class="discount hidden-product">15% off</p>
                        </div>
                    </article>
                    <article class="article-productsList">
                        <img src="img/products/adorno4.jpg" alt="adorno4" class="img-width">
                        <div id="description-product">
                            <i class="fas fa-truck"></i>
                            <h4 class="name-product">MACRAMÉ GRANDE- COLGANTE DE PARED PLUMAS</h4>
                            <p class="price hidden-product">$3.840</p>
                            <p class="discount hidden-product">15% off</p>
                        </div>
                    </article>
                    <article class="article-productsList">
                        <img src="img/products/adorno3.jpg" alt="adorno3" class="img-width">
                        <div id="description-product">
                            <i class="fas fa-truck"></i>
                            <h4 class="name-product">MACRAMÉ PARED DECORACION BOHO COLGANDO PLUMAS</h4>
                            <p class="price hidden-product">$2.570</p>
                            <p class="discount hidden-product">10% off</p>
                        </div>
                    </article>
                    <article class="article-productsList">
                        <img src="img/products/adorno1.jpg" alt="adorno1" class="img-width">
                        <div id="description-product">
                            <i class="fas fa-truck"></i>
                            <h4 class="name-product">ADORNO COLGANTE DE PARED BOHO-CHIC</h4>
                            <p class="price hidden-product">$2.989</p>
                            <p class="discount hidden-product">10% off</p>
                        </div>
                    </article>
                    <article class="article-productsList">
                        <img src="img/products/adorno2.jpg" alt="adorno2" class="img-width">
                        <div id="description-product">
                            <i class="fas fa-truck"></i>
                            <h4 class="name-product">COLGANTE DE PLUMAS BOHO-CHIC</h4>
                            <p class="price hidden-product">$1.840</p>
                            <p class="discount hidden-product">10% off</p>
                        </div>
                    </article>
                    <article class="article-productsList">
                        <img src="img/products/bolso1.jpg" alt="bolso1" class="img-width">
                        <div id="description-product">
                            <i class="fas fa-truck"></i>
                            <h4 class="name-product">BOLSO DE MACRAMÉ</h4>
                            <p class="price hidden-product">$2.824</p>
                            <p class="discount hidden-product">10% off</p>
                        </div>
                    </article>
                    <article class="article-productsList">
                        <img src="img/products/bolso2.jpg" alt="bolso2" class="img-width">
                        <div id="description-product">
                            <i class="fas fa-truck"></i>
                            <h4 class="name-product">CARTERA CRUZADA DE VERANO BOHO-CHIC</h4>
                            <p class="price hidden-product">$3.638</p>
                            <p class="discount hidden-product">15% off</p>
                        </div>
                    </article>
                    <article class="article-productsList">
                        <img src="img/products/aros1.jpg" alt="aros1" class="img-width">
                        <div id="description-product">
                            <i class="fas fa-truck"></i>
                            <h4 class="name-product">AROS MICRO MACRAME BOHO-CHIC</h4>
                            <p class="price hidden-product">$2.675</p>
                            <p class="discount hidden-product">10% off</p>
                        </div>
                    </article>
                    <article class="article-productsList">
                        <img src="img/products/pulsera1.jpg" alt="pulsera1" class="img-width">
                        <div id="description-product">
                            <i class="fas fa-truck"></i>
                            <h4 class="name-product"> PULSERA LADYBUG DE LA SUERTE</h4>
                            <p class="price hidden-product">$1.900</p>
                            <p class="discount hidden-product">15% off</p>
                        </div>
                    </article>
                    <article class="article-productsList">
                        <img src="img/products/collar1.jpg" alt="collar1" class="img-width">
                        <div id="description-product">
                            <i class="fas fa-truck"></i>
                            <h4 class="name-product">COLLAR MICRO MACRAMÉ CON CUARZO ROSA Y TURQUESA.</h4>
                            <p class="price hidden-product">$11.540</p>
                            <p class="discount hidden-product">20% off</p>
                        </div>
                    </article>
                    <article class="article-productsList">
                        <img src="img/products/collar2.jpg" alt="collar2" class="img-width">
                        <div id="description-product">
                            <i class="fas fa-truck"></i>
                            <h4 class="name-product">COLLAR MICRO MACRAMÉ CON PIEDRAS HERMOSAS. BOHO-CHIC</h4>
                            <p class="price hidden-product">$10.540</p>
                            <p class="discount hidden-product">20% off</p>
                        </div>
                    </article>
                    <article class="article-productsList">
                        <img src="img/products/espejo1.jpg" alt="espejo1" class="img-width">
                        <div id="description-product">
                            <i class="fas fa-truck"></i>
                            <h4 class="name-product">ESPEJO DE PARED REDONDO FLECOS ESTILO BOHO</h4>
                            <p class="price hidden-product">$3.638</p>
                            <p class="discount hidden-product">10% off</p>
                        </div>
                    </article>
                    <article class="article-productsList">
                        <img src="img/products/espejo4.jpg" alt="espejo4" class="img-width">
                        <div id="description-product">
                            <i class="fas fa-truck"></i>
                            <h4 class="name-product">ESPEJO DE PARED REDONDO ESTILO BOHO</h4>
                            <p class="price hidden-product">$3.638</p>
                            <p class="discount hidden-product">10% off</p>
                        </div>
                    </article>
                    <article class="article-productsList">
                        <img src="img/products/espejo2.jpg" alt="espejo2" class="img-width">
                        <div id="description-product">
                            <i class="fas fa-truck"></i>
                            <h4 class="name-product">ESPEJO DE PARED REDONDO ESTILO MANDALA</h4>
                            <p class="price hidden-product">$4.280</p>
                            <p class="discount hidden-product">15% off</p>
                        </div>
                    </article>
                </div>
                <div id="button-productsList">
                    <form action="/productsList" method="GET">
                        <button type="submit" class="design-button-productsList">MOSTRAR MÁS PRODUCTOS</button>
                    </form>
                </div>
            </div>
        </section>
        <%- include('../partials/infoShop') %>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>